.kuvaus {
    margin-top: -15%;
    margin-left: -30%;
    font-size: 1vw;
    font-family: "Courier New";
    width: 100%;
    length: 100%;
}

.bubble {
    font-size: 2vw;
    font-style: italic;
}