body {
  background-image: url("./valko3.jpg");
  background-repeat: no-repeat;
  background-attachment :fixed;
  background-position: center;
  background-size: cover;
  height: 150px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
